/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/

#header {
  background-color: #c194f5;
}

#content {
  
}

#footer {
  background-color: #7b0603;
  color: white;
}